@CHARSET "UTF-8";

body {
    font-family: Arial,Verdana,sans-serif;
    font-size: 7pt;
}

.tickLabel, .legendLabel, .iG-text {
    font: bold 11px tahoma,arial,helvetica;
}

.iG-hs {
    border: 1px solid #D0D0D0;
    color: #D0D0D0;
    background-color: #D0D0D0
}

.x-btn-text-left .x-btn-mc {
    text-align : left !important;
}

.iG-service-preview {
    -moz-border-radius: 5px 5px 5px 5px;
    border: 1px solid #C0C0C0;
    cursor: pointer;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 70px;
    text-align: center;
}