<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<setting name="title">InGraph Module</setting>
				<setting name="version">1.0</setting>
				
				<setting name="appkit_module.app.javascript_files">
					<ae:parameter>%core.module_dir%/InGraph/lib/js/InGraphApplication.js</ae:parameter>
				</setting>
				
			</settings>
		</module>
		
	</ae:configuration>
</ae:configurations>