DirectoryIndex index.php

Options -MultiViews -Indexes +FollowSymLinks
Order allow,deny
Allow from all

AcceptPathInfo On

RewriteEngine On
RewriteBase /blubb
RewriteRule ^$ index.php?/ [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php?/$1 [QSA,L]
